body {
    background: #251736;
  }
  
  
.a1{
    
    text-decoration: none; 
    
}
  

  
#imagen {
    
    position: absolute;
    display: none;

}

#bluey{
    
    position: absolute;
    display: none;

}
