@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@1&display=swap');


@font-face {
    font-family: 'Bukhari';
    src: url(BukhariScript.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Nickainley';
    src: url(Nickainley-Normal.otf);
    font-weight: bold;
    font-style: bold;
}

.f1{
    font-family: 'Radley';
    font-size: 41pt;
}
.f2{
    font-family: 'Nickainley';
    font-size: 27pt;
}
.f3{
font-family: "Anonymous Pro", monospace;


}
body{
    background-color: #A4A199;
  
}




   
.grid-container {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr) 40px  repeat(1, 1fr);
    padding: 3em;
    background:  transparent;
}

.grid-item {
    border: none;
    
    color: white;
    
}


.texto1 {
    grid-column: 1 / 2; /* Ocupa la primera columna */
    grid-row: 1 / 2; /* Ocupa la primera fila */
    justify-self: left;
    align-self: center;
    
    
}

.texto2 {
    grid-column: 1 / 2; /* Ocupa la primera columna */
    grid-row: 2 / 3; /* Ocupa la segunda fila */
    justify-self: left; 
    align-self: center;
    padding: 1em 0;
}

.texto3 {
    grid-column: 1 / 2; /* Ocupa la segunda columna */
    grid-row: 3 / 4; /* Ocupa la primera fila */
    justify-self: left;
    align-self: center;
    padding: 0 0 3em 0;
    
}

.imagen1 {
    grid-column: 2 / 3; /* Ocupa la segunda columna */
    grid-row: 1 / 4; /* Ocupa la segunda fila */
    height: 100%;
    justify-self: center; 
    justify-self: center;
    
    
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
        grid-template-rows: repeat(6, 1fr); /* Aumentar el número de filas */
    }

    .texto1 {
        grid-column: 1 / 2; /* Ocupa la única columna */
        grid-row: 1 / 2; /* Ocupa la primera fila */
    }

    .texto2 {
        grid-column: 1 / 2; /* Ocupa la única columna */
        grid-row: 2 / 3; /* Ocupa la segunda fila */
        
    }

    .texto3 {
        grid-column: 1 / 2; /* Ocupa la única columna */
        grid-row: 3 / 4; /* Ocupa la tercera fila */
    }

    .imagen1 {
        grid-column: 1 / 2; /* Ocupa la única columna */
        grid-row: 4 / 7; /* Ocupa la cuarta fila */
    }
}
